doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(viewport='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    header(class="header")
      span(class="header__title")  Load Balancer Demo
      a(class="header__project", href='https://github.com/TomNuttall/aws-loadbalancer-demo') 
        img(class="header__github-icon" src='./images/github-mark.svg' alt='GitHub Project')
    block content
    footer(class="footer")
      span Photo by&nbsp;
      a(href="https://unsplash.com/@coltonsturgeon?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash") Colton Sturgeon
      span &nbsp;on&nbsp;
      a(href="https://unsplash.com/photos/five-black-rocks-6KkYYqTEDwQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash") Unsplash
  