:root {
  font-family: Ubuntu, system-ui, Helvetica, Arial, sans-serif;

  --theme-background: #c5d5ea;
  --theme-primary: whitesmoke;
  --theme-secondary: #213547;
}

body {
  padding: 0;
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--theme-background);
}

a {
  color: var(--theme-secondary);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 1rem 5rem;
  font-weight: 400;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 2rem 3rem 1rem 3rem;
  }
}

.header__github-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  background-color: var(--theme-primary);
  margin-top: auto;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  column-gap: 12rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem 0 4rem;
}

@media only screen and (max-width: 1280px) {
  .hero {
    column-gap: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 2rem 2rem 0 2rem;
    flex-direction: column;
  }
}

.hero__visual {
  border-radius: 0.25rem;
  height: 300px;
  object-fit: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .hero__content {
    align-items: center;
  }
}

.hero__headline {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 0.5rem;
}

.hero__subheadline {
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: white;
  background-color: var(--theme-secondary);
}
